/.idea/

# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

./qrcoder-local/dbdata
*.jar
*.log
/target/
/.run/
/qrcoder-local/dbdata/
